<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Product Form</title>
    <script>
       
    </script>
</head>
<body>

<div id="container">
    <h1>[ 상품등록 ]</h1>
    <p>
    <form action="register" method="post" th:object="${product}" enctype="multipart/form-data">
        <table>
            <tr>
                <th>상품명</th>
                <td>
                    <input type="text" th:field="*{name}" />
                    <div class="error" th:errors="*{name}"></div>
                </td>
            </tr>
            <tr>
                <th>설명</th>
                <td>
                    <textarea rows="10" cols="30" th:field="*{description}"></textarea>
                    <div class="error" th:errors="*{description}"></div>
                </td>
            </tr> 
            <tr>
                <th>가격</th>
                <td>
                     <input type="text" th:field="*{price}" />
                    <div class="error" th:errors="*{price}"></div>
                </td>
            </tr>
            <tr>
                <th>재고</th>
                <td>
                     <input type="text" th:field="*{stock}" />
                    <div class="error" th:errors="*{stock}"></div>
                </td>
            </tr>
            <tr>
    			<th>분류</th>
   				<td>
        			<select th:field="*{category}">
            			<option value="">카테고리 선택</option>
            			<option value="과일">과일</option>
            			<option value="고기류">고기류</option>
            			<option value="채소">채소</option>
           				<option value="계란">계란</option>
            			<option value="버섯">버섯</option>
            			<option value="수산물">수산물</option>
            			<option value="곡물류">곡물류</option>
            			<option value="조개류">조개류</option>
            			<option value="친환경">친환경</option>
            			<option value="양념류">양념류</option>
            			<option value="간식">간식</option>
            			<option value="음료">음료</option>
            			<option value="가공식품">가공식품</option>
            			<option value="꿀">꿀</option>
        			</select>
        			<div class="error" th:errors="*{category}"></div>
    			</td>
            </tr>
            <tr>
                <th>첨부파일</th>
                <td id="fileInputsContainer">
                    <input id="file-test" type="file" name="files" style="height:30px;" multiple>
                </td>
            </tr>
            <tr>
                <th>판매 가능</th>
                <td>
                    <select th:field="*{status}">
                        <option value="AVAILABLE">Available</option>
                        <option value="SOLD_OUT">Sold Out</option>
                    </select>
                    <div class="error" th:errors="*{status}"></div>
                </td>
            </tr>      
        </table>
        <p>
            <button type="submit">등록</button>
            
            <input type="button" id="sujung" value="테스트"/ >
        </p>
    </form>
    <p>
        <input type="button" onclick="location.href='/products/seller/list'" value="내 상품 리스트">
    </p>
</div>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $('#file-test').on('change', function(event) {
        const files = event.target.files; // 파일 목록을 가져옵니다
        if (files.length > 0) {
            console.log('Selected files:');
            for (let i = 0; i < files.length; i++) {
                console.log('File name: ' + files[i].name);
                console.log('File size: ' + files[i].size + ' bytes');
                console.log('File type: ' + files[i].type);
            }
        } else {
            console.log('No files selected');
        }
    });
})
</script>
</body>
</html>
