<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>판매자 채팅</title>
<link rel="stylesheet" href="/css/chat2.css">
<script
   src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script
   src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
   <div id="chat">
      <div id="chatHeader">
         <div th:if="${session.loginMember}" class="imgContainer">
            <div th:if="${chatRoom.seller.fileName}">
               <img class="imagePreview"
                  th:src="@{/uploads/{imageUrl}(imageUrl=${chatRoom.seller.fileName})}"
                  alt="" />
            </div>
            <div th:unless="${chatRoom.seller.fileName}" class="imgBox">
               <img class="randomImage" src="" alt="랜덤 이미지" />
            </div>
         </div>
         <div th:if="${session.loginSeller}" class="imgContainer">
            <div th:if="${chatRoom.member.fileName}">
               <img
                  th:src="@{/uploads/{imageUrl}(imageUrl=${chatRoom.member.fileName})}"
                  alt="" />
            </div>
            <div th:unless="${chatRoom.member.fileName}">
               <img class="randomImage" src="" alt="랜덤 이미지" />
            </div>
         </div>
         <div id="chatTitle" th:if="${session.loginMember}" th:text="${chatRoom.seller.name}"></div>
         <div id="chatTitle" th:if="${session.loginSeller}" th:text="${chatRoom.member.name}"></div>
         <button id="chatExitBtn" onclick="back()">◀</button>
      </div>
      <div id="chatBody">
         <div th:each="message : ${message}" class="message-container"
            th:class="${message.sender == sender.name} ? 'right' : 'left'">
            <div class="oneMessage">
               <div class="message-box" th:text="${message.content}"></div>
               <span
                  th:class="${message.sender == sender.name} ? 'message-right' : 'message-left'"
                  th:text="${#temporals.format(message.createdTime, 'MM/dd a hh:mm')}"></span>
            </div>
         </div>
      </div>
      <div id="chatFooter">
         <input type="hidden" id="chatRoom" th:value="${chatRoom.id}" /> <input
            type="hidden" id="sender" th:value="${sender.name}" /> <input
            type="text" id="message" placeholder="Your message" />
         <button id="chatInputBtn" onclick="sendMessage()">▶</button>
      </div>
   </div>
   <script src="/js/chat.js"></script>
</body>
</html>
