<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>くだもん - mypage</title>
<link rel="stylesheet" href="/css/index.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
.account-box {
	display: none;
	position: absolute;
	top: 0; /* account 요소의 바로 아래에 위치 */
	left: 0; /* 좌측 정렬 */
	display: none; /* 기본적으로 숨김 */
	background-color: white; /* 배경색 설정 */
	border: 1px solid #ccc; /* 테두리 설정 */
	z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
}

.logoline {
	cursor: pointer;
}

.user-links0 {
	display: none;
}

.user-links {
	display: flex;
	flex-direction: row;
}

.page-container {
	display: flex;
	flex-direction: row;
	
	margin-top: 50px;
}

.side-bar-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@font-face {
	font-family: 'CWDangamAsac-Bold';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.side-bar-container-title {
	font-family: 'CWDangamAsac-Bold', sans-serif;
	font-weight: bold;
	font-size: large;
}

.my-page-container {
	flex: 4;
}

.my-page-contianer-title {
	font-weight: bold;
	width: 100%;
	padding-top: 10px;
	border-top: 5px solid #03C75A;
	padding-bottom: 10px;
	border-bottom: 5px solid #03C75A;
}

.side-bar-content {
	cursor: pointer;
}
</style>
<script>
	$(document)
			.ready(
					function() {
						function openPopup() {
							window.open("/openPopup", "popupWindow",
									"width=360,height=500,resizable=no");
						}

						$('.account').click(function() {
							$('.user-links0').toggle();
						})

						$('.logoline')
								.click(
										function() {
											window.location.href = 'http://localhost:9000/kudamon/mall';
										})

						$('.member-logout')
								.click(
										function() {
											window.location.href = 'http://localhost:9000/member/logout';
										})

						$('.member-mypage')
								.click(
										function() {
											window.location.href = 'http://localhost:9000/member/mypage';
										})

						$('.chat')
								.click(
										function() {
											window.location.href = 'http://localhost:9000/openPopup';
										})

						$('.seller-logout')
								.click(
										function() {
											window.location.href = 'http://localhost:9000/seller/logout';
										})

						$('.seller-mypage')
								.click(
										function() {
											window.location.href = 'http://localhost:9000/seller/mypage';
										})

						$('.register')
								.click(
										function() {
											window.location.href = 'http://localhost:9000/seller/register';
										})

						$('.list')
								.click(
										function() {
											window.location.href = 'http://localhost:9000/products/seller/list';
										})

						$('.login').click(function() {
							openLoginPopup();
						})

						$('.joinchoice')
								.click(
										function() {
											window.location.href = 'http://localhost:9000/joinchoice';
										})

						$('.support')
								.click(
										function() {
											window.location.href = 'http://localhost:9000/support';
										})

					})
</script>

</head>
<body>
	<script src="/js/index.js"></script>
	<header>
		<div class="header-container">
			<div class="logoline">
				<h1 class="logo">
					<a href="/kudamon/mall">쿠다몬</a>
				</h1>
				<img src="/src/images/kudamon.png">
			</div>

			<div class="user-options">
				<div class="search-container">
					<input type="text" class="search-bar">
					<button type="submit" class="search-button">
						<img src="/src/images/search-icon.png" alt="돋보기"
							class="search-icon">
					</button>
				</div>

				<img src="/src/images/favorite.png" alt="찜" class="icon zzim">
				<img src="/src/images/person.png" alt="account" class="icon account">
				<img src="/src/images/bag.png" alt="장바구니" class="icon cart">
			</div>
		</div>
	</header>

	<div class="page-container">
      <div id="side-bar-container" class="side-bar-container">
        <div id="side-bar-container-title" class="side-bar-container-title">
          마이 쿠다몽
        </div>
        <div id="side-bar-content-container" class="side-bar-content-container">
          <div id="edit-my-data" class="edit-my-data side-bar-content">
            개인정보 수정
          </div>
          <div id="shipping-list" class="shipping-list side-bar-content">
            배송지 관리
          </div>
          <div id="order-list" class="order-list side-bar-content">
            주문 내역
          </div>
          <div id="cart-list" class="cart-list side-bar-content">장바구니</div>
          <div id="chat-list" class="chat-list side-bar-content">채팅 목록</div>
          <div
            id="zzim-product-list"
            class="zzim-product-list side-bar-content"
          >
            찜한 상품 목록
          </div>
          <div
            id="follow-seller-list"
            class="follow-seller-list side-bar-content"
          >
            팔로우한 판매자들
          </div>
        </div>
        <div id="help-container" class="help-container">
          <div id="help-container-title" class="help-container-title">
            도움이 필요하신가요?
          </div>
          <div id="help" class="help">1:1 문의하기</div>
        </div>
      </div>
      <div id="my-page-container" class="my-page-container">
        <div id="my-page-contianer-title" class="my-page-contianer-title"></div>
        <div id="my-page-content-container" class="my-page-content-container">
          <div>
            <div id="order-list-page" class="order-list-page">
              <div id="toast_message" class="toast_message"></div>
              <div
                th:each="order : ${orderAndOrderItemsList}"
                class="order-container"
              >
                <div class="order-status-and-order-date">
                  <div class="order-status-date">
                    <div
                      th:text="${order.orderTable.order_status}"
                      class="order_status"
                    ></div>
                    <div
                      th:text="|${order.orderTable.order_date}에 주문하신 상품|"
                      class="order-date"
                    ></div>
                  </div>
                  <div th:id="${order.orderTable.id}" class="order-details">
                    주문 상세 보기 >
                  </div>
                </div>
                <div class="show-button">펼쳐보기 ▼</div>
                <div
                  th:each="orderItems : ${order.ProductAndImageList}"
                  class="product-container"
                >
                  <div class="product-image-name-price-quantity">
                    <div
                      class="product-image-container"
                      style="text-align: center"
                      th:id="${orderItems.product.productId}"
                    >
                      <img
                        th:if="${orderItems.productImage != null}"
                        th:src="@{/products/files?filename={filename}(filename=${orderItems.productImage.saved_filename})}"
                        alt="Product Image"
                      />
                    </div>
                    <div class="product-name-price-quantity">
                      <div
                        th:text="${orderItems.product.name}"
                        class="item-name"
                        th:id="${orderItems.product.productId}"
                      ></div>
                      <div class="product-price-quantity">
                        <div
                          th:text="|${#numbers.formatInteger(orderItems.product.price, 0, 'COMMA')}원|"
                        ></div>
                        <div th:text="|${orderItems.quantity}개|"></div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="add-cart-button"
                    th:id="${orderItems.product.productId}"
                    th:if="${not idList.contains(orderItems.product.productId)}"
                  >
                    장바구니에 추가하기
                  </div>
                  <div
                    class="added-in-cart"
                    th:id="${orderItems.product.productId}"
                    th:if="${idList.contains(orderItems.product.productId)}"
                  >
                    이미 장바구니에 추가된 상품입니다.
                  </div>
                </div>
                <div class="order-product-total-price-container">
                  <div>총 주문 금액:&nbsp;</div>
                  <div
                    th:text="|${#numbers.formatInteger(order.orderTable.total_price, 0, 'COMMA')}원|"
                    class="order-total-price"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

	<footer>
		<p>고객센터: 1234-5678 | 이메일: info@shop.com</p>
		<p>© 2024 DSA. All Rights Reserved.</p>
	</footer>

	<script th:inline="javascript">
    window.onload = function(){

        // 요소에 클릭 이벤트 바인딩하기
        // 메인 페이지로
        document.querySelector('#page-title').addEventListener('click', () => {
        	window.location.href = `http://localhost:9000/kudamon/mall`;
        })
    }

    // 상품 페이지로 이동
    $(document).ready(function() {
    	$('#add-address-container').css("display", "none");
      	$('#order-list').css('font-weight', 'bold');
      	$('#order-list').css('color', '#03C75A');
      	$('#my-page-contianer-title').text('주문 내역 리스트');

    	$('.product-container').hide();
    	$('.order-product-total-price-container').hide();

    	$('.show-button').click(function(){
    		const text = $(this).text();
    		if(text === '펼쳐보기 ▼') {
    			// $(this).closest('.product-container').addClass('hide');
    			$(this).closest('.order-container').find('.product-container').show('fast');
    			$(this).closest('.order-container').find('.order-product-total-price-container').show('fast');
    			$(this).text('접기 ▲');
    		} else {
    			// $(this).closest('.product-container').removeClass('hide');
    			$(this).closest('.order-container').find('.product-container').hide('fast');
    			$(this).closest('.order-container').find('.order-product-total-price-container').hide('fast');
    			$(this).text('펼쳐보기 ▼');
    		}
    	})

    	$('.product-image-container').click(function(){
    		const productId = $(this).attr('id');
    		window.location.href = `http://localhost:9000/products/read?id=${productId}`;
    	})
    	$('.item-name').click(function(){
    		const productId = $(this).attr('id');
    		window.location.href = `http://localhost:9000/products/read?id=${productId}`;
    	})

    	$('#move-main-page').click(function(){
    		window.location.href = `http://localhost:9000/kudamon/mall`;
    	})

    	const showTM = (message) => {
    		const tm = document.querySelector('#toast_message'); // 토스트 메시지 요소 가져오기
    		tm.textContent = message; // 메시지값 주기
    		tm.classList.add('active'); // 클래스 속성에 'active' 추가
    		setTimeout(() => tm.classList.remove('active'), 2000) // 클래스 속성에서 'active' 제거(1000밀리초 후)
    	}

    	// 장바구니 추가
    	$('.add-cart-button').click(function(){
    		const addCartButton = $(this);
    		const productId = $(this).attr('id');
    		const url = `http://localhost:9000/cart`;

    		$.ajax({
    			url: url,
    			type: "POST",
    			contentType: "application/json",
    			data: JSON.stringify({productId}),
    			success: function(response){
                    const tm = $('#toast_message');
                    tm.text('장바구니에 추가되었습니다.');

                    addCartButton.text('장바구니에 추가하였습니다.');
                    tm.fadeIn(400).delay(1000).fadeOut(400);
    			},
    			error: function(xhr, status, error){
    				const tm = $('#toast_message');
    				tm.text(xhr.responseJSON.message || error);
    				tm.fadeIn(400).delay(1000).fadeOut(400);
    			}
    		})
    	})

    	// 주문 상세 보기
    	$('.order-details').click(function(){
    		let memberId = [[${memberId}]];
    		const url = `http://localhost:9000/order`;
    		const status = $(this).closest('.order-status-and-order-date').find('.order_status').text();
    		const orderId = $(this).attr('id');

    		if(status === "주문서 작성 중") { // 기존에 작성 중인 주문서가 있을 경우 작성 페이지로 이동
    			window.location.href = url + `/${orderId}`;
    		} else { // 주문서 작성 완료한 주문일 경우 주문 상세 페이지로 이동
    			window.location.href = url + `/details/${orderId}`;
    		}
    	})

        if ($(".order_status").length === 0) {
        	$(".order-list-page").text("주문이 없어요");
            const png = `
                <img width="20" height="20" src="/src/cart-empty.png" />
            `;
            $('.order-list-page').before(png);
            $('.order-list-page').after(png);
        }

    	$('.order_status').each(function() {
    		if($(this).text() === '주문 취소') {
    			$(this).css('color', 'lightgray');
    		}
    	})
    })

		// 개인정보 수정 페이지
        document.querySelector('#edit-my-data').addEventListener('click', () => {
    		let member_id = [[${memberId}]]; // 회원의 id 가져오기
    		window.location.href = `http://localhost:9000/member/mypage`;
        });

        // 장바구니 페이지
        document.querySelector('#cart-list').addEventListener('click', () => {
    		let member_id = [[${memberId}]]; // 회원의 id 가져오기
    		window.location.href = `http://localhost:9000/cart/${member_id}`;
        });

        // 회원의 배송지 페이지
        document.querySelector('#shipping-list').addEventListener('click', () => {
      	  console.log("클릭");
    		let member_id = [[${memberId}]]; // 회원의 id 가져오기
    		window.location.href = `http://localhost:9000/member/address/${member_id}`;
        });

        // 채팅방 목록 페이지

        // 찜한 상품 페이지

        // 찜한 목록 페이지
  </script>
</body>
</html>