<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>kudamon Project</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <main>
    <h2 class="txt-hide">본문 시작</h2>
    <header class="header sticky">
    <h1 class="tit"><a href="http://localhost:9000/home"><div class="font-font">KUDAMON</div></a></h1>
    <nav class="navbar">
      <ul class="navbar-menu">
        <li><a href="#explore"><div class="font-font">About</div></a></li>
        <li><a href="#meet"><div class="font-font">Members</div></a></li>
        <li><a href=""><div class="font-font">Tech</div></a></li>
        <li><a href="/kudamon/mall"><div class="font-font">Visit Mall</div></a></li>
      </ul>
      <ul class="navbar-icons">
        <button class="btn-lang">
          <img th:src="@{/src/globe.svg}">
          <span>KR</span></button>
        <ul class="list-lang">
          <li><a href="javascript:void(0)"><div class="font-font">KR</div></a></li>
          <li><a href="javascript:void(0)"><div class="font-font">JP</div></a></li>
        </ul>
<!-- 
        <li>
          <button class="btn-find">
	          <div class="font-font">
	            <img th:src="@{/src/search.svg}">
            </div>
          </button></li>
 -->
      </ul>
    </nav>
  </header>
    <section id="vid" class="vid">
      <video muted loop autoplay>
        <source src="/src/back.mp4" type="video/mp4">
      </video>
    </section>
    <section class="tit-main">
      <h3>Take a step into nature</h3>
      <article class="wrap-options">
        <div class="dropdown">
          <button class="region dropdown-btn">Region</button>
          <ul class="dropdown-list">
            <li><button>Korea</button></li>
            <li><button>Japn</button></li>
            <li><button>And else</button></li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="cities dropdown-btn">City</button>
          <ul class="dropdown-list">
            <li><button>Busan</button></li>
            <li><button>Seoul</button></li>
            <li><button>Tokyo</button></li>
            <li><button>Kyoto</button></li>
            <li><button>Fukuoka</button></li>
            <li><button>Osaka</button></li>
            <li><button>And else</button></li>

          </ul>
        </div>
        <div class="dropdown">
          <button class="jobunit dropdown-btn">Job Unit</button>
          <ul class="dropdown-list">
            <li><button>Engineering</button></li>
            <li><button>Design</button></li>
            <li><button>Product Planning</button></li>
            <li><button>Business & Sales</button></li>
            <li><button>Marketing & Comms</button></li>
            <li><button>Corporate</button></li>
          </ul>
        </div>
        <button class="btn-go" onclick="location.href='home.html'">
          <img src="/src/arrow-right-short.svg">
        </button>
      </article>
      
    </section>
    <div class="desc-scroll">Scroll</div>
     	<div class="explore sticky nav-box">
     		<a href="#vid">
	     		<div id="explore">Explore KUDAMON</div>
     		</a>
    	</div>
    <section class="cont-culture">
      <section class="culture-sec">
        <h3 class="txt-hide">소개</h3>
        <article class="culture-art">
          <h4 class="txt-hide">첫번째</h4>
          <a href="javascript:void(0)">
            <img src="/src/img/01.jpg" alt="">
            <strong> 농부와 소비자 간의 직접적인 연결 강화</strong>
            <p> 중간 유통업체를 제거하고 농부와 소비자 간의 직거래를 통해 비용 절감 및 거래의 투명성을 확보합니다. 농부의 스토리와 농업 과정을 소비자에게 전달하여 감정적 유대감을 형성하고, 농부의 목소리를 직접 반영합니다.</p>
          </a>
        </article>
        <article class="culture-art">
          <h4 class="txt-hide">두번째</h4>
          <a href="javascript:void(0)">
            <img src="/src/img/02.jpg" alt="">
            <strong> 신선도와 품질 보장</strong>
            <p> 신선하고 고품질의 농산물을 소비자에게 안정적으로 제공하며, 제품의 품질을 유지하기 위한 엄격한 기준을 설정하고 관리합니다. 농산물의 신선도를 실시간으로 모니터링하고, 이를 소비자에게 명확히 전달하여 신뢰를 구축합니다.</p>
          </a>
        </article>
        <article class="culture-art">
          <h4 class="txt-hide">세번째</h4>
          <a href="javascript:void(0)">
            <img src="/src/img/03.jpg" alt="">
            <strong>지역 경제 및 커뮤니티 지원</strong>
            <p> 지역 농산물을 우선적으로 홍보하고 판매하여 지역 농업과 경제에 기여합니다. 그리고 지역 커뮤니티와 협력하여 농업 관련 교육, 행사 및 지역 사회 발전에 기여합니다.</p>
          </a>
        </article>
        <article class="culture-art">
          <h4 class="txt-hide">네번째</h4>
          <a href="javascript:void(0)">
            <img src="/src/img/04.jpg" alt="">
            <strong> 지속 가능한 농업 지원</strong>
            <p> 환경에 미치는 영향을 최소화하고 지속 가능한 농업을 홍보하여 친환경적인 농업을 지원합니다. 소비자와 농부에게 지속 가능한 농업의 중요성을 알리고, 친환경 농산물 소비를 촉진합니다.</p>
          </a>
        </article>
        <a href="javascript:void(0)" class="more-culture right-button">More about our culture</a>
      </section>
    </section>
    <section class="cont-finers">
      <div class="title-area">
        <div class="meet sticky nav-box">
        	<a href="#vid">
	        	<div id="meet">Meet the ENGINEERS</div>
        	</a>
       	</div>
      </div>
      <div class="ul-area">
        <ul class="career-info">
          <li class="career-card flip-vertical-right">
            <a href="javascript:void(0)">
	            <div class="front-face">
	              <h3>BACK-END</h3>
	              <strong>OH/HU</strong>
	              <em>MEMBER</em>
	              <p></p>
	              <span>LEARN MORE</span>
	            </div>
              <div class="back-face">뒷 면</div>
            </a>
          </li>
          <li class="career-card flip-vertical-right">
            <a href="javascript:void(0)">
            	<div class="front-face">
	              <h3>FRONT-END</h3>
	              <strong>YOO</strong>
	              <em>MEMBER</em>
	              <p></p>
	              <span>LEARN MORE</span>
	             </div>
              <div class="back-face">뒷 면</div>
            </a>
          </li>
          <li class="career-card flip-vertical-right">
            <a href="javascript:void(0)">
            <div class="front-face">
              <h3>Design</h3>
              <strong>JUNG</strong>
              <em>MEMBER</em>
              <!-- 
              <p>우리의 농산물 직거래 플랫폼은 신선하고 품질 좋은 지역 농산물을 소비자에게 직접 제공하는 것을 목표로 합니다. 우리는 농부와 소비자 간의 직접적인 연결을 통해 투명하고 공정한 거래를 실현하며, 지역 경제를 활성화하고 지속 가능한 농업을 지원합니다.</p>
               -->
              <span>LEARN MORE</span>
            </div>
              <div class="back-face">뒷 면</div>
            </a>
          </li>
        </ul>
        <a href="javascript:void(0)" class="more-finers right-button">More about </a>
      </div>
    </section>
    
  </main>
  <footer>
    <h2 class="txt-hide">하단 정보 시작</h2>
    <div class="cont-footer-wrap">
      <div class="btn-footer">
        <div class="btn-sns">
          <button>
            <img src="/src/instagram.svg" alt="인스타그램">
          </button>
          <button>
            <img src="/src/facebook.svg" alt="페이스북">
          </button>
          <button>
            <img src="/src/github.svg" alt="깃허브">
          </button>
          <button>
            <img src="/src/youtube.svg" alt="유튜브">
          </button>
        </div>
        <div class="rel-site">
          <button class="btn-rel">Related Websites</button>
          <ul class="list-rel">
            <li><a href="javascript:void(0)">About</a></li>
            <li><a href="javascript:void(0)">NOTION</a></li>
            <li><a href="javascript:void(0)">DSA</a></li>
          </ul>
        </div>
      </div>
      <div class="info-footer">
        <strong>
          <a href="javascript:void(0)" class="policy">개인정보처리방침</a>
        </strong>
        <address>ⓒKUDAMON</address>
      </div>
    </div>
  </footer>
    <script defer src="/js/main.js"></script>
</body>

</html>