<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="container">
   <h1>[ Main ]</h1>
   <div th:unless="${session.loginMember}">
      <div th:unless="${session.loginSeller}">
      <input type="button" onclick="location.href='/member/join'" value="sign up">
      <input type="button" onclick="location.href='/seller/join'" value="seller sign up">
       <input type="button" onclick="location.href='/member/login'" value="login">
      <input type="button" onclick="location.href='/seller/login'" value="seller login">
   </div>
   </div>
   <div th:if="${session.loginMember}">
      <p>WELCOME</p>
         <input type="button" onclick="location.href='/member/logout'" value="로그아웃">
   </div>
   <div th:if="${session.loginMember}">
   <input type="button" onclick="location.href='/member/mypage'" value="mypage">
   		<input type="button" onclick="location.href='/products/list'" value="상품리스트">
   		<button onclick="location.href='chatList'">채팅 리스트</button>
   </div>
   <div th:if="${session.loginSeller}">
      <p>WELCOME</p>
      <input type="button" onclick="location.href='/seller/mypage'" value="mypage">
         <input type="button" onclick="location.href='/seller/logout'" value="로그아웃">
   </div>
   <div th:if="${session.loginSeller}">
   	<p>상품 등록을 해주세요</p>
   		<input type="button" onclick="location.href='/products/register'" value="상품등록">
   </div>
   <div th:if="${session.loginSeller}">
   	<p>등록된 상품 리스트</p>
   		<input type="button" onclick="location.href='/products/seller/list'" value="내 상품 리스트">
   		<button onclick="location.href='chatList'">채팅 리스트</button>
   </div>
   
      <!-- 판매자 ID가 있는 경우 -->
    <div th:if="${session.loginSeller}">
    	<p>소개글</p>
        <form th:action="@{/seller/{id}/intro(id=${session.loginSeller.id})}" method="get">
            <button type="submit">소개글 작성</button>
        </form>
        <form th:action="@{/seller/{id}/introshow(id=${session.loginSeller.id})}" method="get">
            <button type="submit">소개글 보기</button>
        </form>
    </div>
</div>
</body>
</html>