<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/joinchoice.css"> 
    <title>회원가입 선택</title>
</head>
<body>

    <header>
    
        <div class="nav-container">
            <h1 class="logo"><a href="/">쿠다몬</a></h1>
            <nav class="nav-links">
                <a href="#">장보기</a>
                <a href="#">선물하기</a>
                <a href="#">이벤트</a>
            </nav>
            <div class="icons">
                <div class="search-container">
					<input type="text" class="search-bar">
					<button type="submit" class="search-button">
						<img src="/src/images/search-icon.png" alt="돋보기" class="search-icon">
					</button>
				</div>
                <a href="#"><img src="/src/images/favorite.png" alt="찜 아이콘"></a>
                <a href="#"><img src="/src/images/person.png" alt="로그인 아이콘"></a>
                <a href="#"><img src="/src/images/bag.png" alt="장바구니 아이콘"></a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="welcome-section">
            <h2>믿고 사는 즐거움</h2>
            <h1>쿠다몬에 오신 것을 환영합니다</h1>
        </div>
        
        <div class="divider"></div> <!-- 세로 회색 선 -->

        <div class="login-section">
            <a href="/member/join" class="login-button personal">
                <img src="/src/images/joinperson.png" alt="개인 아이콘" class="button-icon">
                개인회원으로 시작하기
            </a>
            <a href="/seller/join" class="login-button business">
                <img src="/src/images/joinperson.png" alt="사업자 아이콘" class="button-icon">
                사업자회원으로 시작하기
            </a>
        </div>
    </div>
    
    <footer>
		<p>고객센터: 1234-5678 | 이메일: info@shop.com</p>
		<p>© 2024 DSA. All Rights Reserved.</p>
	</footer>
</body>
</html>
